<h1>Jobs!</h1>

#if ($jobs)
  <ul>
    #foreach ($job in $jobs)
      <li><a href="/cities/$city.getId()/jobs/$job.getId()">$job.getTitle()</a></li>
    #end
  </ul>
#else
  <p>No jobs!</p>
#end

<a href="/jobs/new">Add New Job</a>
